.mainInfo {
}
.subInfo {
}
.tShirtImg {
  display: block;
  position: absolute;
  left: 605.04px;
  top: 136.5px;
}
.abstract1 {
  display: block;
  position: absolute;
  width: 88.6px;
  height: 86px;
  left: 547px;
  top: 169px;
}
.abstract2 {
  display: block;
  position: absolute;
  width: 88.6px;
  height: 88px;
  left: 942px;
  top: 527px;
}
.blurShape {
  position: absolute;
  width: 123px;
  height: 184px;
  left: 1002px;
  top: 263px;

  background: #ffa16a;
  filter: blur(85px);
}
