@import './variables';
@import './fonts';

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #999;
}
input,
textarea {
  outline: none;
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
}
li {
  list-style: none;
}
button {
  border: none;
}
